@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.head__custom-nav .navbar-brand img {
  width: 18px;
  height: 18px;
}
.head__custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px;
  color: #1ea5f7;
}
.head__custom-nav button {
  padding: 0;
}
.head__custom-nav button span img {
  width: 45px;
}
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: lightcoral;
}

.custom-section {
  width: inherit;
  padding: 40px 0;
}
@media screen and (max-width: 991.98px) {
  .custom-section {
    flex-direction: column-reverse;
  }
}
.custom-section .col-lg-4 {
  margin-top: 100px;
}
.custom-section .col-lg-4 h2 {
  font-weight: 700;
  font-size: 63px;
  color: #000;
  margin-bottom: 0;
  line-height: 1;
  white-space: nowrap;
}
.custom-section .col-lg-4 h3 {
  font-weight: 300;
  font-size: 64px;
  color: #000;
  line-height: 1;
}
.custom-section .col-lg-4 p {
  color: #000;
  font-size: 14px;
  margin-top: 30px;
}
.custom-section .col-lg-4 a {
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  color: #000;
  margin-top: 60px;
  text-decoration: none;
}

.custom-section .col-lg-4 a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #1ea5f7;
  z-index: -1;
  transition: all ease 0.5s;
}

.custom-section .col-lg-4 a:hover:before {
  width: 100%;
}

.custom-section .col-lg-8 img {
  width: 100%;
  top: -14rem;
  right: -11%;
}
@media screen and (max-width: 991.98px) {
  .custom-section .col-lg-8 img {
    width: 100%;
    position: ab;
    top: 0;
    right: 0;
  }
}
.custom-section .col-lg-8 .animate-img img {
  width: 118px;
  position: absolute;
  top: -13.5rem;
  right: 2.9rem;
}

.container .box {
  position:relative;
  width: 200px;
  height: 300px;
  margin: 40px;
  background-color: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container .box::before {
  content: "SERVICES";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
}

.container .box:hover::before {
  opacity: 0.05;
}
.container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container .box:hover .name {
  top: 20px;
  opacity: 1;
}

.container .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #1ea5f7;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size:x-small;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.container .box:hover .buy {
  bottom: 15px;
  opacity: 1;
}
.container .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  transition: 0.5s;
  background: #1ea5f7;
  z-index: 10;
  opacity: 0.5;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 40px);
}
.container .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 150px;
  transition: 0.5s;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 100px);
  z-index: 13;

}