@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.head__custom-nav {
  background-color: #fff;
}

.head__custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 40px;
  margin-left: 25px;
  color: #1ea5f7;
}
.diffa {
  height: 80px;
  width: 80px;
  -webkit-animation: rotation 8s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.head__custom-nav .navbar-brand span .letter {
  display: inline-block;
  line-height: 1em;
}

.head__custom-nav button {
  padding: 0;
}
.head__custom-nav button span img {
  width: 45px;
}
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 400;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.head__custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: lightcoral;
}

.custom-section {
  width: inherit;
  padding: 40px 0;
}
@media screen and (max-width: 991.98px) {
  .custom-section {
    flex-direction: column-reverse;
  }
}
.custom-section .col-lg-4 {
  margin-top: 100px;
}
.custom-section .col-lg-4 h2 {
  font-weight: 700;
  font-size: 63px;
  color: #000;
  margin-bottom: 0;
  line-height: 1;
  white-space: nowrap;
}
.custom-section .col-lg-4 h3 {
  font-weight: 300;
  font-size: 64px;
  color: #000;
  line-height: 1;
}
/* .custom-section .col-lg-4 p {
  color: #000;
  font-size: 14px;
  margin-top: 30px;
} */
.custom-section .col-lg-4 a {
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  color: #000;
  margin-top: 60px;
  text-decoration: none;
}

.custom-section .col-lg-4 a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #1ea5f7;
  z-index: -1;
  transition: all ease 0.5s;
}

.custom-section .col-lg-4 a:hover:before {
  width: 100%;
}

.custom-section .col-lg-8 img {
  position: relative;
  width: 100%;
  z-index: -2;
  top: 3rem;
  right: -11%;
}
@media screen and (max-width: 991.98px) {
  .custom-section .col-lg-8 img {
    width: 100%;
    position: relative;
    padding-top: 8rem;
    right: 0;
  }
}
.servi {
  margin-top: 100px;
  align-items: center;
  text-align: center;
}
.custom-section .col-lg-8 .animate-img img {
  width: 118px;
  position: absolute;
  top: -13.5rem;
  right: 2.9rem;
}

.container .box {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container .box::before {
  content: "SERVICES";
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color: rgb(17, 17, 17);
  font-style: italic;
  opacity: 0;
}

.container .box:hover::before {
  opacity: 0.03;
}
.container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container .box:hover .name {
  top: 20px;
  opacity: 1;
}

.container .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #1ea5f7;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: x-small;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.container .box:hover .buy {
  bottom: 15px;
  opacity: 1;
}
.container .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  transition: 0.5s;
  background: #ffeb36;
  z-index: 10;
  opacity: 0.5;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 40px);
}
.container .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 150px;
  transition: 0.5s;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 100px);
  z-index: 13;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}
.display-4 {
  font-weight: 700;
  font-size: 63px;
  color: #000;
  margin-bottom: 0;
  line-height: 1;
  white-space: nowrap;
}
.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.blob {
  position: absolute;
  max-height: 90vh;
  width: 90vw;
  opacity: 0.09;
}
.blob path {
  animation: blob 7s linear infinite;
}
@keyframes blob {
  0% {
    d: path(
      "M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"
    );
  }
  25% {
    d: path(
      "M67.8,-97.1C87.8,-78.8,103.8,-58.9,117.4,-34.1C130.9,-9.4,142,20.2,139.5,50.7C137,81.2,120.8,112.6,95.3,150.1C69.8,187.7,34.9,231.3,3.3,226.8C-28.2,222.2,-56.4,169.3,-91.6,134.9C-126.8,100.5,-169,84.6,-179.6,57.1C-190.2,29.7,-169.3,-9.3,-155.2,-49.7C-141,-90.1,-133.7,-132,-109,-148.8C-84.2,-165.6,-42.1,-157.3,-9.1,-144.8C23.9,-132.2,47.8,-115.5,67.8,-97.1Z"
    );
  }
  50% {
    d: path(
      "M137.1,-191.3C172,-163.4,190.6,-115.7,197.2,-70.1C203.8,-24.4,198.5,19.2,178.9,51.5C159.3,83.9,125.5,105,93.3,129.6C61.1,154.1,30.6,182.1,1.1,180.6C-28.4,179.1,-56.8,148.2,-81.2,121.1C-105.6,94.1,-126.1,70.8,-141.6,41.6C-157.2,12.4,-168,-22.9,-153.9,-45C-139.8,-67,-100.7,-76,-70.9,-105.5C-41.1,-135,-20.6,-185,15.3,-206C51.1,-227.1,102.3,-219.1,137.1,-191.3Z"
    );
  }
  75% {
    d: path(
      "M123.7,-157.1C162.4,-142.2,197.2,-108.8,202.8,-70.8C208.3,-32.9,184.5,9.7,169,54.2C153.6,98.7,146.4,145.2,119.7,162.7C92.9,180.2,46.4,168.6,-1.9,171.1C-50.2,173.7,-100.3,190.4,-122.2,171.3C-144.1,152.3,-137.7,97.5,-144.1,52.7C-150.6,7.9,-169.9,-26.8,-170.5,-64.8C-171,-102.8,-152.8,-144,-121.3,-161.3C-89.7,-178.5,-44.9,-171.8,-1.2,-170.1C42.5,-168.5,85,-172,123.7,-157.1Z"
    );
  }
  100% {
    d: path(
      "M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"
    );
  }
}

body .footer1 {
  z-index: 1;
  --footer-background: #34a4e8;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 25rem;
}
body .footer1 .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer1 .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite
      var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer1 .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer1 .content a,
body .footer1 .content p {
  color: #f5f7fa;
  text-decoration: none;
}
body .footer1 .content b {
  color: white;
}
body .footer1 .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer1 .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer1 .content > div > div {
  margin: 0.25rem 0;
}
body .footer1 .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer1 .content > div .image {
  align-self: center;
  width: 4rem;
  height: 6rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

.contact-us {
  padding: 70px 0px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-bottom: 10px;
  display: inline-block;
}
.section-title p {
  color: #e8e8e8;
  margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
  background: #fafafa;
}
.contact-us textarea {
  min-height: 188px;
  max-width: 100%;
}
.contact-us .map {
  overflow: hidden;
  border-radius: 4px;
}

.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}

.fa.footer-contacts-icon {
  background-color: #ffffff;
  color: rgb(0, 147, 233);
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 10px 15px 10px 0;
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
